
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin:0;
    color:#1a1a1a;
}

h2 {
    font-weight:300;
    text-align:center;
}

p {
    font: 90%/1.6em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
}

a {
    font: 90%/1.6em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:#2960b5;  
}

#chart {
    display:none;
    position:relative;
    margin: 10px auto;
    width:960px;
    
}
svg {
    display:block;
    margin: 0 auto;
    position: relative;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  transition: opacity ease-out 0.3s;
  -webkit-transition: opacity ease-out 0.3s; /* Safari */
  cursor: pointer;
}

.node:hover {
    opacity:1;
    
}

#nytSection {
    display:none;
}

#nytSection h2 {
    text-align:center;
    font-weight:300;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
    pointer-events:none;
    font: 10px sans-serif;
}

#commentArea {
    width:607px;
    height: 150px;
    background: #D3D3D3;
    display:none;
    font-size:12px;
    overflow:auto;
}

.article_title:hover {
    cursor:pointer;
}

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 400px;                  
  height: auto;                 
  padding: 10px;               
  line-height: 21px;     
  background: rgba(248, 248, 248, 0.58);   
  border: 0;      
  border-radius: 4px;           
  pointer-events: none;
  
}

div.tooltip:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right:7px solid rgba(248, 248, 248, 0.58);
    left:-7px;

    top:8px;
}

div.tooltip p {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    margin:0;
}

div.tooltip blockquote {
    margin-bottom:7px;
    margin-top:7px;
}

div.tooltip blockquote p {
    font-size: 12px;
    font-style: italic;
} 

div.tooltip a {
    pointer-events:auto;
}


#cMap-navigation-bar {
    width:100%;
    background-color:#402e26;
    height:40px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.40);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.40);
}

#cMap-logo {
    margin:7px 0 0 9%;
    height:64px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.cMap-content-wrapper {
    width:960px;
    display:block;
    margin:0 auto;
    background:#fff;
    position: relative;
}

p.article_title {
    font-weight:300;
    margin:0;
    padding:10px;
    font-size:16px;
    text-align: center;
}

#stories-loading {
    display:none;
    position:absolute;
    left:30%;
    top:0;
    z-index:0;
}

#stories-loading img {
    display:block;
    margin:150px auto 0 auto;
}
#stories-loading h3 {
    text-align:center;
    margin-top:20px;
    font-weight:300;
    line-height: 32px;
}
#chattermap-landing-frame h2{
    font-size:24px;
    color:#7b7b7b;
    position: absolute;
    top:46px;
    left:225px;
    font-weight: normal;
    text-align: left;
    line-height: 29px;
    text-shadow:0 1px #fff;
    margin:0;

}
#cMap-product-concept {
    display:block;
    margin:20px auto 5px;
    width:960px;
    height:540px;
}
#call-to-action-container {
    position: absolute;
    top:180px;
    left:355px;
}

#chattermap-landing-frame p {
    text-align:center;
    margin:5px 0;
    font-size:15px;
}
#chattermap-landing-frame span#kickin-it-off {
    padding:9px 15px;
    background: #2960b5; /* Old browsers */
    background: -moz-linear-gradient(top,  #2960b5 0%, #0e51af 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2960b5), color-stop(100%,#0e51af)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2960b5 0%,#0e51af 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2960b5 0%,#0e51af 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2960b5 0%,#0e51af 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2960b5 0%,#0e51af 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2960b5', endColorstr='#0e51af',GradientType=0 ); /* IE6-9 */
    width:175px;
    text-align:center;
    color:#fff;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:18px;
    display:block;
    margin:10px auto;
    cursor:pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
}
#chattermap-landing-frame span#kickin-it-off:hover {
    background: #0e51af; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e51af 0%, #2960b5 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e51af), color-stop(99%,#2960b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0e51af 0%,#2960b5 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0e51af 0%,#2960b5 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e51af 0%,#2960b5 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #0e51af 0%,#2960b5 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e51af', endColorstr='#2960b5',GradientType=0 ); /* IE6-9 */

}

a.original-article-link {
    text-align: center;
    display: block;
    margin:35px auto 0;
    width:80%;
    font-size:1.2rem;
    text-decoration: none;
}

a.original-article-link:hover {
    text-decoration: underline;
}

h4.number-of-comments {
    text-align: left;
    margin:10px 0;
    font-weight: 100;
    color:#494949;
    font-size:14px;
}

/* Style the comment author */
span.commentAuthor {
    font-weight: bold;
    color:#2960b5;
    font-size:0.9em;
}
/* Timestamp styling */
span.timestamp {
    color:#b4b4b4;
    font-size:0.9em;

}
span.bulletTimeAgo {
    padding:0 8px;
    font-size:60%;
    color:#b4b4b4;
    line-height: 1em;
    vertical-align: middle;
}

/* STYLE THE ARTICLE SELECT PAGE */
.article {
    border-bottom:1px solid #efefef;
}
.article:hover {
    background:#fafafa;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    color:#2960b5;
}
#nytSection .article:first-child {
    border-top:1px solid #efefef;
}